lxml==4.2.0
matplotlib==2.2.2
ipywidgets==7.1.2
networkx==2.1
gensim==3.4.0
requests==2.12.4
python_louvain==0.10
nltk==3.2.5
pandas==0.22.0
wordcloud==1.4.1
numpy==1.12.1
scipy==0.18.1
bokeh==0.12.14
cartopy==0.16.0
community==1.0.0b1
geocoder==1.38.1
geopandas==0.3.0
geopy==1.12.0
gmaps==0.7.4
OWSLib==0.16.0
plotly==3.0.0rc1
pyLDAvis==2.1.1
pycountry==18.2.23
pycurl==7.43.0.1
scattertext==0.0.2.23
scikit_learn==0.19.1
tensorflow==1.7.0
vincent==0.4.4
